body {
	background-color: rgb(255, 156, 13);
}

.wrapper {
	background-color: white;
	padding: 40px;
	margin: 20px 40px;
	text-align: left;
	color: rgb(231, 22, 18);
	border-radius: 0 50px;
}

#myTit {
	font-size: 3em;
	margin: 10px;
	padding: ;
	color: rgb(146, 16, 0);
	text-decoration: underline;
	font-family: 'Bungee Shade', cursive;
}

#myList {
	margin-left: 2%;
	text-align: left;
	font-family: 'Bungee', cursive;
}

.theList {
	margin-left: 2%;
}

.done {
	text-decoration: line-through;
}

input {
	border: 5px solid #F1F1F1;	
	padding: 1% 2%;
	border-radius: 0 20px;
	width: 70%;
	height: 50px;
	font-size: 1em;
}

input:focus {
    outline:none;
}

ul {
	list-style-type: circle;
}

li {
	font-weight: bold;
	font-size: 2em;
}

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: static;
	padding: 10px 40px;
  	margin: 0px 10px 10px 0px;
	border-radius: 0 20px;
	font-family: 'Bungee', cursive;
	font-size: 18px;
	color: #FFF;
	text-decoration: none;	
}

.action-button:focus {
    outline:none;
}

.yellow
{
	background-color: rgb(231, 22, 18);
	border-bottom: 5px solid rgb(231, 100, 18);
	text-shadow: 0px -2px rgb(231, 22, 118);
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,1px);
	border-bottom: 0px solid;
}